<div>
	<h4>
		Pay for your order single time
	</h4>
	<div id="paypal-button-container"></div>
	
	<p>or</p>
	<h4>
		Activate a subscription
	</h4>
	<a th:href="@{http://localhost:8200/view/subscribe(orderId=${orderId})}">
		SUBSCRIBE NOW
	</a>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=sb&commit=false"></script>
 
<script>
var appId = [[${appId}]];
var orderId = [[${orderId}]];

console.log(orderId, appId);
 
paypal.Buttons({
 
    env: 'sandbox', /* sandbox | production */
    style: {
        layout: 'horizontal',   // horizontal | vertical 
        size:   'responsive',   /* medium | large | responsive*/
        shape:  'pill',         /* pill | rect*/
        color:  'gold',         /* gold | blue | silver | black*/
        fundingicons: false,    /* true | false */
        tagline: false          /* true | false */
    }, 
 	createOrder: function() {
 
 
        /* Set up a url on your server to create the order */
 
        var GET_ORDER_URL = 'http://localhost:8200/getOrder/' + orderId;
 
 
        /* Make a call to your server to set up the payment */
 
        return fetch(GET_ORDER_URL)
         .then(function(res) {
          return res.json();
         }).then(function(data) {
        	console.log(data);
          return data.id;
         });
 
    },
    /* onApprove() is called when the buyer approves the payment */
 	onCancel: function() {
        window.location = 'http://localhost:8200/view/cancelURL?orderId=' + orderId;
 		
 	},
    onApprove: function(data, actions) {
 
        /* Set up a url on your server to execute the payment */
 
        var EXECUTE_URL = 'http://localhost:8200/capturePayment/' + appId + '/' + orderId;
 
        /* Set up the data you need to pass to your server */
 
        /* Make a call to your server to execute the payment */
 
        return fetch(EXECUTE_URL)
        .then(function(res) {
          return res.json();
        }).then(function(details) {
          alert('Transaction funds captured!');
          window.location = 'http://localhost:8200/view/successURL?orderId=' + orderId;
        }).catch(function(error) {
      	  console.log(error);
      	  alert('An error occured');
          window.location = 'http://localhost:8200/view/errorURL?orderId=' + orderId;
        });
 
    }
 
}).render('#paypal-button-container');
 
</script>
