<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title>Successful</title>

<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body style="background-color:#e9ecef;text-align:center">

<div class="jumbotron text-center">
</div>
<div class="jumbotron text-center">
  <h1 class="display-3">Your Payment is Successful!</h1>
  <p class="lead"><strong>Thank you for your payment.</strong> </p>
  <hr>
 
</div>
</body>

</html>


